# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
*.lcov

# production
/build
dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env

# Temporary folders
temp

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
